@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600&display=swap");

body {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    text-align: center;
    resize: none;
    display: block;
    overflow-y: scroll;
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: transparent;
    color: rgb(49, 49, 49);
    margin: 0px;
}

input:focus {
    outline: none; /* Hides the default outline */
}

.root {
    min-width: 1300px;
    height: 100%;
}

.layout-design {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
}

.superior-header {
    display: flex;
    flex-direction: column;
}

.superior-header .sup {
    padding: 0px px 26px;
    z-index: 9999999;
    top: 0px;
    display: flex;
    flex-direction: row;
    flex: 1 1 0%;
    background: rgb(60, 70, 107);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 6px;
}

.superior-header .sup .sup-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 8px;
    height: 32px;
}

.superior-header .sup .sup-logo .sup-logo-img {
    margin-top: 6px;
    width: 80px;
    height: 60px;
    vertical-align: top;
}

.superior-header .sup .sup-mid {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 1 1 0%;
    z-index: 20000;
}

.superior-header .sup .sup-right {
    width: 200px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 8px;
    height: 32px;
}

.superior-header .inf {
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 42px;
    background: rgba(0, 183, 170, 0.95);
}

main {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    padding: 0px 0px 3rem;
}

.home {
    width: 1162px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0rem 0px 0px;
}

footer {
    margin-bottom: 4px;
    width: 100%;
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.footer-copyright {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.footer-copyright dl {
    max-width: 620px;
    margin-left: 35px;
}

.copyright-title {
    font-size: 10px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.copyright-desc {
    font-size: 10px;
    font-weight: 400;
    color: rgb(170, 170, 170);
    margin: 3px 0px;
}

/* INDEX */

.index-container {
    margin: 0px 0px 30px;
    width: 100%;
    min-height: 190px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.search-container {
    width: 720px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.players {
    display: block;
    width: 100%;
}

.player {
    margin-top: 5px;
    display: flex;
    border: 1px solid rgb(107, 120, 181);
    border-radius: 26px;
    padding: 11px 19px 11px 17px;
    box-shadow: rgba(0, 76, 255, 0.3) 0px 0px 6px;
    background-color: rgb(255, 255, 255);
}

.player-input-data {
    display: flex;
}

.player-input-data .game-name input {
    color: rgb(49, 49, 49);
    width: 100%;
    border: 0px;
    background-color: transparent;
    font-size: 14px;
}

.player-label {
    position: absolute;
    line-height: 20px;
    cursor: inherit;
    color: rgb(170, 170, 170);
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.tag-line {
    border-radius: 5px;
    padding: 0px 4px;
    background-color: rgb(230, 230, 230);
    margin-left: 4px;
}

.tag-line span {
    color: rgb(170, 170, 170);
    font-size: 14px;
}

.region-container {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.region-btn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: rgb(105, 190, 116);
    border-radius: 6px;
    width: 48px;
    height: 28px;
    opacity: 1;
}

.region-btn span {
    font-size: 12px;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

.dropdown-arrow {
    width: 0px;
    height: 0px;
    border-width: 5.5px 4px 0px;
    border-style: solid;
    border-color: rgb(49, 49, 49) transparent transparent;
}

.region-dropdown {
    display: none;
    position: absolute;
    padding: 7px;
    z-index: 1;
    top: 130%;
    width: 202px;
    left: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px;
    border: 1px solid rgb(96, 104, 184);
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}

.region-dropdown.show {
    display: block;
}

.dd-div-container {
    display: flex;
    flex-direction: column;
}

.dd-div-region {
    color: rgb(49, 49, 49);
    font-size: 11px;
    margin-left: 7px;
    margin-bottom: 13px;
    margin-top: 7px;
}

.dd-div-grid {
    display: flex;
    flex-flow: wrap;
}

.dd-item {
    margin: 6px 7px;
}

.dd-item div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid rgb(96, 104, 184);
    background-color: transparent;
    border-radius: 6px;
    width: 48px;
    height: 28px;
    opacity: 1;
}

.dd-item span {
    font-size: 12px;
    font-weight: normal;
    color: rgb(107, 120, 181);
}

.btn {
    all: unset;
    padding: 1.5rem 2rem;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ded8f4;
    font-family: Mukta;
}

.btn > .circle {
    --size: 2.5rem;
    position: absolute;
    left: 0;
    display: block;
    width: var(--size);
    height: var(--size);
    background-color: #ded8f4;
    border-radius: 1.5rem;
    z-index: -1;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.btn > .text {
    margin-left: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.45s;
}
.circle > i {
    font-size: 1rem;
    position: absolute;
    left: calc(var(--size) / 2);
    top: calc(var(--size) / 2);
    transform: translate(-50%, -50%);
    color: black;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.btn:hover > .circle {
    width: 100%;
}
.btn:hover > .circle > i {
    translate: 1rem 0;
}
.btn:hover > .text {
    color: black;
}
