
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600&display=swap");


body {
    font-family: Mukta;
    height: 100vh;
    background-color: #1a1a1a;
    color: #ded8f4;
    text-align: center;
}

.container {
    max-width: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin: 0 auto;
}

.logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
    display: grid;
    place-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
}

.tagLine {
    max-width: 45px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}

#resultado {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.field {
    display: flex;
    align-items: center;
}

.field label {
    margin-right: 10px;
}

.player {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 2px;
}

.player label {
    margin-right: 10px;
}

.btn {
    all: unset;
    padding: 1.5rem 2rem;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn > .circle {
    --size: 2.5rem;
    position: absolute;
    left: 0;
    display: block;
    width: var(--size);
    height: var(--size);
    background-color: #ded8f4;
    border-radius: 1.5rem;
    z-index: -1;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.btn > .text {
    margin-left: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.45s;
}
.circle > i {
    font-size: 1rem;
    position: absolute;
    left: calc(var(--size) / 2);
    top: calc(var(--size) / 2);
    transform: translate(-50%, -50%);
    color: black;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.btn:hover > .circle {
    width: 100%;
}
.btn:hover > .circle > i {
    translate: 1rem 0;
}
.btn:hover > .text {
    color: black;
}

.input_feedback{
    margin: 0 auto;
}

.result_header{
}