
{% extends "layout.html" %}

{% block title %}
    DWP v1.0
{% endblock %}

{% block main %}
<h2>
    <a href="/">
        <img src="./static/logo.png" alt="DWP" style="vertical-align: top; width: 300px;">
    </a>
</h2>
<form action="/search" method="post" id="search" class="search-form">
    <div class="index-container">
        <div class="search-container">
            <div class="dropdown">
                <div class="region-container">
                    <div class="region-btn">
                        <span class="region-button-text">BR1</span>
                        <input type="hidden" id="selected-region" name="selected-region" value="">
                    </div>
                    <div class="region" style="margin-left: 12px;">
                        <div class="dropdown-arrow">
                            
                        </div>
                        <div class="region-dropdown">
                            <div class="dd-div-container">
                                <div class="dd-div-region">Region</div>
                                <div class="dd-div-grid">
                                    <div class="dd-item">
                                        <div>
                                            <span value="BR1">BR1</span>
                                        </div>
                                    </div>
                                    <div class="dd-item">
                                        <div>
                                            <span value="EUN1">EUN1</span>
                                        </div>
                                    </div>
                                    <div class="dd-item">
                                        <div>
                                            <span value="EUW1">EUW1</span>
                                        </div>
                                    </div>
                                    <div class="dd-item">
                                        <div>
                                            <span value="KR">KR</span>
                                        </div>
                                    </div>
                                    <div class="dd-item">
                                        <div>
                                            <span value="JP1">JP1</span>
                                        </div>
                                    </div>
                                    <div class="dd-item">
                                        <div>
                                            <span value="LA1">LA1</span>
                                        </div>
                                    </div>
                                    <div class="dd-item">
                                        <div>
                                            <span value="LA2">LA2</span>
                                        </div>
                                    </div>
                                    <div class="dd-item">
                                        <div>
                                            <span value="NA1">NA1</span>
                                        </div>
                                    </div>
                                    <div class="dd-item">
                                        <div>
                                            <span value="OC1">OC1</span>
                                        </div>
                                    </div>
                                    <div class="dd-item">
                                        <div>
                                            <span value="PH2">PH2</span>
                                        </div>
                                    </div>
                                    <div class="dd-item">
                                        <div>
                                            <span value="RU">RU</span>
                                        </div>
                                    </div>
                                    <div class="dd-item">
                                        <div>
                                            <span value="SG2">SG2</span>
                                        </div>
                                    </div>
                                    <div class="dd-item">
                                        <div>
                                            <span value="TH2">TH2</span>
                                        </div>
                                    </div>
                                    <div class="dd-item">
                                        <div>
                                            <span value="TR1">TR1</span>
                                        </div>
                                    </div>
                                    <div class="dd-item">
                                        <div>
                                            <span value="TW2">TW2</span>
                                        </div>
                                    </div>
                                    <div class="dd-item">
                                        <div>
                                            <span value="VN2">VN2</span>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="players">
                <div class="player">
                    <div class="player-input-data">
                        <div class="game-name">
                            <label for="game_name_1" class="player-label">Summoner 1 Game Name </label>
                            <input type="text" id="game_name_1" name="game_name_1" minlength="3" maxlength="22" pattern="^(?=[a-zA-Z0-9#\s]{3,22}$)[a-zA-Z0-9\s]{3,16}#[a-zA-Z0-9]{3,5}$" required>
                        </div>
                        <div class="tag-line">
                            <span> # Tag</span>
                        </div>
                    </div>
                </div>
                <div class="player">
                    <div class="player-input-data">
                        <div class="game-name">
                            <label for="game_name_2" class="player-label">Summoner 2 Game Name </label>
                            <input type="text" id="game_name_2" name="game_name_2" minlength="3" maxlength="22" pattern="^(?=[a-zA-Z0-9#\s]{3,22}$)[a-zA-Z0-9\s]{3,16}#[a-zA-Z0-9]{3,5}$" required>
                        </div>
                        <div class="tag-line">
                            <span> # Tag</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="loading" name="loading" value="True"></input>
    <div style="display: flex; justify-content: center;">
        <button class = "btn" type="submit" form="search" id="search-button">
        <span class="circle">
            <i class="fa-solid fa-angle-right"></i>
        </span>
        <span class="text">Search</span>
    </form>
    </div>
    <div class="input_feedback">
        {% if failed_game_name_1 %}
            <div id="input_feedback_game_name_1" name="input_feedback_game_name_1">Summoner 1 Combination of Game Name and TagLine NOT Found.</div>
        {% endif %}
        {% if failed_game_name_2 %}
            <div id="input_feedback_game_name_2" name="input_feedback_game_name_2">Summoner 2 Combination of Game Name and TagLine NOT Found.</div>
        {% endif %}
    </div>
    <script src="./static/script.js" defer></script>
{% endblock %}
