{% extends "layout.html" %} 
{% block title %} DWP v1.1 - Search Result {% endblock %}
{% block main %}


<div class="result_header" id="result_header" style="display: none;">
    <h1 id="feedback"></h1>

    <div class="outter-outter-div" id="outter-outter-div">
        
    </div>
</div>
<div class="loader" id="loader">
    <span class="binary"></span>
    <span class="binary"></span>
    <span class="getting-there">LOADING MATCHES DATA...</span>
</div>



<script>
    window.onload = function() {
        const form_data = JSON.parse('{{ form_data | tojson }}'); // Convert Flask dict to JS object

        fetch('/fetch-data', {
            method:'POST', 
            headers: {
            'Content-Type': 'application/json' 
            }, 
            body: JSON.stringify(form_data)
        })  // Replace with your actual Flask route
        .then(response => response.json())
        .then( data => {
                hideLoadingIndicator();
                const matchesContainer = document.querySelector('.outter-outter-div');

                data.forEach(match => {
                    const matchElement = document.createElement("div")
                    matchElement.innerHTML = `
                    <div class="outter-div" id="outter-div">
    <div class="outter-div-center">
        <div class="match-container ${match.win_lose_p1 ? 'win' : 'lose'}">
            <div class="match-ribbon ${match.win_lose_p1 ? 'win' : 'lose'}"></div>
            <div class="match-left">
                <div class="${match.win_lose_p1 ? 'win' : 'lose'}" style="height: 0px">${match.game_mode}</div>
                <div style="flex-wrap: wrap; height: 0px">${match.creation}</div>
                <div style="display: flex; justify-content: space-between">
                    <div class="${match.win_lose_p1 ? 'text-win' : 'text-lose'}" style="height: 12px">${match.win_lose_p1}</div>
                    <div style="height: 12px">${match.duration}</div>
                </div>
            </div>
            <div class="match-center">
                <div class="player1">
                    <div class="inner-center-row">
                        <div class="champion-image"><img src="${match.champ_p1_img}" /></div>
                        <div>
                            <div class="summoners-image"><img src="${match['spell_1_p1_img']}"></div>
                            <div class="summoners-image"><img src="${match['spell_2_p1_img']}"></div>
                        </div>
                        <div style="background-color: blue; margin: 1px">
                            <div style="background-color: white; margin: 1px">Rune1</div>
                            <div style="background-color: yellow; margin: 1px;">Rune2</div>
                        </div>
                        <div style="background-color: silver; margin: 1px">KDA</div>
                    </div>
                    <div class="inner-center-row">
                        ${match.items_p1_img.map(item => `
                        <div class="items">
                            <img src="${item}" alt="item image" />
                        </div>
                        `)}
                    </div>
                </div>
                <div class="player2">
                    <div class="inner-center-row">
                        <div class="champion-image"><img src="${match.champ_p2_img}"></div>
                        <div>
                            <div class="summoners-image"><img src="${match['spell_1_p2_img']}"></div>
                            <div class="summoners-image"><img src="${match['spell_2_p2_img']}"></div>
                        </div>
                        <div style="background-color: blue; margin: 1px">
                            <div style="background-color: white; margin: 1px">Rune1</div>
                            <div style="background-color: yellow; margin: 1px;">Rune2</div>
                        </div>
                        <div style="background-color: silver; margin: 1px">KDA</div>
                    </div>
                    <div class="inner-center-row">
                        ${match.items_p2_img.map(item => `
                        <div class="items">
                            <img src="${item}" alt="item image" />
                        </div>
                        `)}
                    </div>
                </div>
            </div>
            <div class="match-right">></div>
        </div>
            
        <div class="container">
            <div>

            </div>
        </div>
    </div>
            
</div>
                `;
                matchesContainer.appendChild(matchElement);
                })
                
                }
            )
        ;}

        function hideLoadingIndicator() {
        document.getElementById('loader').style.display = 'none';
        document.getElementById('result_header').style.display = 'block';
    }
</script>
<script src="./static/search_script.js" defer></script>
{% endblock %}
