{% extends "layout.html" %} 
{% block title %} DWP v1.1 - Search Result {% endblock %}
{% block main %}


<div class="result_header" id="result_header" style="display: none;">
    <div class=feedback id="feedback""></div>
    <div class="win-rate" id="win-rate""></div>
    <div class="outter-outter-div" id="outter-outter-div"></div>
</div>
<div class="loader" id="loader">
    <span class="binary"></span>
    <span class="binary"></span>
    <span class="getting-there">FETCHING PAST 100 MATCHES DATA...</span>
</div>



<script>
    var returnForm = JSON.parse('{{ form_data | tojson | safe }}'); // Safe filter to ensure correct JavaScript escaping
</script>
<script src="./static/search_script.js" defer></script>
{% endblock %}
